{% extends "base.html" %}

{% block app_content %}
<form action="search_sal" method="post">
	<label>Enter from year</label>
	<input placeholder = "2000" type="number" name="sal_start">
	<label>Enter end year</label>
	<input placeholder = "2012" type="number" name="sal_end">
	<br>
	<input type="submit" name="sal_submit" value="Search by Year Range">
</form>

<br>

{% if result == False %}
	No result
{% else %}
<table class="table table-striped table-bordered table-hover table-condensed" >
	<tr>
		<th>Person</th>
		<th>Year</th>
		<th>Picture</th>
		<th>Description</th>
		
	</tr>
{% for det in result %}
	<tr>
		<td>{{ det[0] }}</td>
		<td>{{ det[1] }}</td>
		<td>{{ det[2] }}</td>
		<td>{{ det[3] }}</td>

	</tr>
{% endfor %}
</table>
{% endif %}




{% if result == False %}
	No result
{% else %}
{% for item in result %}
	<p>{{ item[0] }}</p>
{% if item[2] != None %}
<img src="{{ url_for('static', filename='pics/' + item[2]) }}" height="200px">
{% else %}
<p> No image available for {{ item[0] }}</p>
{% endif %}
{% endfor %}
{% endif %}
</br>
<a href="{{ url_for('index') }}">Go back to Home Page</a>
{% endblock %}
