{% extends "base.html" %}

{% block app_content %}
<form action="/update" method="post">
	
	<label>Select Name</label>
<!--	<input type="number" name="room"><br>-->
	<select name="opt">
		{% for room in result %}
		<option value = "{{ room[0] }}">{{ room[0] }}</option>
		{% endfor %}
	</select>
	<label>Caption</label>
	<input type="text" name="caption"><br>

	<input type="submit" name="add_people_submit" value="Update">
	

</form>
</br>
{% if result == False %}
	No result
{% else %}
<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<th>Person</th>
		<th>Year</th>
		<th>Picture</th>
		<th>Description</th>

	</tr>
{% for det in result %}
	<tr>
		<td>{{ det[0] }}</td>
		<td>{{ det[1] }}</td>
		<td>{{ det[2] }}</td>
		<td>{{ det[3] }}</td>

	</tr>
{% endfor %}
</table>
{% endif %}

{% if result == False %}
	No result
{% else %}
{% for item in result %}
	<p>{{ item[0] }}</p>
{% if item[2] != None %}
<img src="{{ url_for('static', filename='pics/' + item[2]) }}" height="100px">
{% else %}
<p> No image available for {{ item[0] }}</p>
{% endif %}
{% endfor %}
{% endif %}

<br>

<a href="{{ url_for('index') }}">Go back to Home Page</a>
{% endblock %}